*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}


.form__container{
 width: 100vw;
 height: 100vh;
 flex-direction: column;
 display: flex;

}

.form__title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1900;
    font: 90px;
    margin: 20px auto 20px auto;
}

.form{
    width: 60vw ;
    display: flex;
    flex-direction: column;
justify-content: center;
justify-items: center;
gap: 30px;
margin: 0 auto 0 auto;
background-color: black;
color: white;
padding: 30px;
}